* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* box-model*/
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ebf2ff;
}

.card-img-top {
  padding: 15px;
  height: 300px;
  width: auto;
}

.place__holder__image {
  width: 100%;
}

.subscribe {
  background-color: #007bff;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.subscribe h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.subscribe p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.subscribe-form {
  max-width: 400px;
  margin: 0 auto;
}

.subscribe-form input.form-control {
  font-size: 1rem;
}

/* Footer */
footer {
  background-color: #333; /* Dark background */
  color: #fff; /* White text color */
  text-align: center;
  padding: 15px 0;
}

footer p {
  font-size: 1rem;
}
