* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* box-model*/
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ebf2ff;
}

.card-img-top {
  padding: 15px;
  height: 300px;
  width: auto;
}

.place__holder__image {
  width: 100%;
}

.subscribe {
  background-color: #007bff;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.subscribe h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.subscribe p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.subscribe-form {
  max-width: 400px;
  margin: 0 auto;
}

.subscribe-form input.form-control {
  font-size: 1rem;
}

/* Footer */
footer {
  background-color: #333; /* Dark background */
  color: #fff; /* White text color */
  text-align: center;
  padding: 15px 0;
}

footer p {
  font-size: 1rem;
}

/* Additional CSS for fixed-size blog frames and expandable content */

.card {
  /* Set a fixed height for the blog frame */
  height: 500px;
  overflow: hidden; /* Hide overflowing content */
}

.card.opened {
  /* When the card is opened, remove height restriction */
  height: auto;
}

.card.opened .card-body {
  /* Show the full blog description and adjust padding */
  padding: 15px;
}

.card.opened .card-footer {
  /* Show the "Open Blog" button in the footer */
  display: block;
}

.card.opened .card-footer button {
  /* Adjust the style of the "Open Blog" button in the expanded state */
  margin-top: 15px;
}

.card.closed .card-text {
  /* Hide the full blog description by default */
  display: none;
}

.card.closed .badge {
  /* Hide the blog type badge by default */
  display: none;
}
